<div class="heading">Water Management</div>
<div class="container">
  <div>
    <label class="title">Apartment Type</label>
    <input
      type="number"
      name="apartment"
      class="input-field"
      [(ngModel)]="apartmentType"
    />
  </div>
  <div>
    <label class="title">Corporation Ratio</label>
    <input
      class="input-field"
      type="number"
      name="corporationRatio"
      [(ngModel)]="ratio.corp.value"
      [disabled]="ratio.corp.disable"
      (change)="ratio.corp.disable = true"
    />
  </div>
  <div>
    <label class="title">BoreWell Ratio</label>
    <input
      class="input-field"
      type="number"
      name="boreWellRatio"
      [(ngModel)]="ratio.boreWell.value"
      [disabled]="ratio.boreWell.disable"
      (change)="ratio.boreWell.disable = true"
    />
  </div>
  <div>
    <label class="title">Add Guest</label>
    <input
      class="input-field"
      type="number"
      [(ngModel)]="guestQuantity"
      name="guest"
    />
    <button type="button" (click)="addGuest()">Add Guest</button>
  </div>
  <div class="button-container">
    <div class="submit">
      <button type="button" (click)="calculateBill()">Calculate Bill</button>
    </div>
    <div class="submit">
      <button type="button" (click)="reset()">Reset</button>
    </div>
    <div></div>
  </div>
  <input
    type="number"
    readonly
    class="input-field"
    [(ngModel)]="result"
    name="result"
  />
</div>
